#siema::placeholder{
    color: blue;
    opacity: 1;
}
#container{
    position: relative;
}
.placeholder{
    position: absolute;
    left: 45px;
    top: 4px
}
/* #siema::after{
    visibility: visible!important;
    content: "cos"!important;
    display: block!important;
    color: red
} */